<div>
    <h2 id="page-heading">
        <span jhiTranslate="obrasApp.resumoGasto.home.title">Resumo Gastos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resumo-gasto" [routerLink]="['/resumo-gasto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obrasApp.resumoGasto.home.createLabel">
            Create new Resumo Gasto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resumoGastos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomeObra"><span jhiTranslate="obrasApp.resumoGasto.nomeObra">Nome Obra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorDeposito"><span jhiTranslate="obrasApp.resumoGasto.valorDeposito">Valor Deposito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorDespesa"><span jhiTranslate="obrasApp.resumoGasto.valorDespesa">Valor Despesa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorSaldo"><span jhiTranslate="obrasApp.resumoGasto.valorSaldo">Valor Saldo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resumoGasto of resumoGastos ;trackBy: trackId">
                <td><a [routerLink]="['/resumo-gasto', resumoGasto.id, 'view' ]">{{resumoGasto.id}}</a></td>
                <td>{{resumoGasto.nomeObra}}</td>
                <td>{{resumoGasto.valorDeposito}}</td>
                <td>{{resumoGasto.valorDespesa}}</td>
                <td>{{resumoGasto.valorSaldo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resumo-gasto', resumoGasto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resumo-gasto', resumoGasto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resumo-gasto/'+ resumoGasto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="resumoGastos && resumoGastos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
