<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gasto-heading" ><span>Criar ou editar Gasto - {{nomeObra}} </span></h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gasto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gasto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="gasto.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="gasto.valor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.dataVencimento" for="field_dataVencimento">Data Vencimento</label>
                    <div class="input-group">
                        <input id="field_dataVencimento" type="text" class="form-control" name="dataVencimento" ngbDatepicker  #dataVencimentoDp="ngbDatepicker" [(ngModel)]="gasto.dataVencimento"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataVencimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataVencimento?.dirty && editForm.controls.dataVencimento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataVencimento?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" [(ngModel)]="gasto.tipo" (ngModelChange)="tipoContaChanged($event)"  id="field_tipo" >
                        <option value="MAO_DE_OBRA">{{'obrasApp.TipoConta.MAO_DE_OBRA' | translate}}</option>
                        <option value="MATERIAIS">{{'obrasApp.TipoConta.MATERIAIS' | translate}}</option>
                        <option value="DECORACAO">{{'obrasApp.TipoConta.DECORACAO' | translate}}</option>
                        <option value="DOCUMENTACAO">{{'obrasApp.TipoConta.DOCUMENTACAO' | translate}}</option>
                        <option value="INVESTIMENTO_DEPOSITO">{{'obrasApp.TipoConta.INVESTIMENTO_DEPOSITO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.pagamento" for="field_pagamento">Pagamento</label>
                    <select class="form-control" name="pagamento" [(ngModel)]="gasto.pagamento" id="field_pagamento" >
                        <option value="SIM">{{'obrasApp.Pago.SIM' | translate}}</option>
                        <option value="NAO">{{'obrasApp.Pago.NAO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.nota" for="field_nota">Nota</label>
                    <select class="form-control" name="nota" [(ngModel)]="gasto.nota" id="field_nota" >
                        <option value="SIM">{{'obrasApp.NotaFiscal.SIM' | translate}}</option>
                        <option value="NAO">{{'obrasApp.NotaFiscal.NAO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.parcelado" for="field_parcelado">Parcelado</label>
                   <!-- <input type="number" class="form-control" name="parcelado" id="field_parcelado"
                        [(ngModel)]="gasto.parcelado" />-->
                    <select class="form-control" name="parcelado" [(ngModel)]="gasto.parcelado" id="field_parcelado" >
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <!--  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.mesAno" for="field_mesAno">Mes Ano</label>
                    <div class="input-group">
                        <input id="field_mesAno" type="text" class="form-control" name="mesAno" ngbDatepicker  #mesAnoDp="ngbDatepicker"   [(ngModel)]="gasto.mesAno"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="mesAnoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>-->

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.gasto.obra" for="field_obra">Obra</label>
                    <select class="form-control" id="field_obra" name="obra" [(ngModel)]="gasto.obraId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="obraOption.id" *ngFor="let obraOption of obras; trackBy: trackObraById">{{obraOption.nome}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
