<div class="row justify-content-center">
    <div class="col-8">
        <div>
            <h2><span jhiTranslate="obrasApp.resumoGasto.detail.title">Resumo Gasto</span>{{nomeObra}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div *ngIf="resumo" id="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Despesa com nota</th>
                                    <td>{{resumo.despesaComNota | currency: 'R$'}}</td>
                                </tr>
                                <tr>
                                    <th>Despesa sem nota</th>
                                    <td>{{resumo.despesaSemNota | currency: 'R$'}}</td>
                                </tr>
                                <tr>
                                    <th>DESPESAS GERAIS SUBTOTAL</th>
                                    <td>{{resumo.despesaGeralSubTotal | currency: 'R$'}}</td>
                                </tr>
                                <tr>
                                    <th>HONORÁRIOS ADMINISTRAÇÃO</th>
                                    <td>R$56.000,00</td>
                                </tr>
                                <tr>
                                    <th>VALOR DEPOSITADO</th>
                                    <td>{{resumo.valorDeposito | currency: 'R$'}}</td>
                                </tr>
                                <tr>
                                    <th>QUANTIDADE DE NOTAS</th>
                                    <td>{{resumo.quantidadeComNota}}</td>
                                </tr>
                                <tr>
                                    <th>QUANTIDADE SEM NOTA</th>
                                    <td>{{resumo.quantidadeSemNota}}</td>
                                </tr>
                                <tr>
                                    <th>VALOR EM CAIXA</th>
                                    <td>XXXXXX</td>
                                </tr>
                                <tr>
                                    <th>ESCRITURA</th>
                                    <td>XXXXXX</td>
                                </tr>
                                <tr>
                                    <th>DESPESAS ESCRITURA COMPRA</th>
                                    <td>XXXXXX</td>
                                </tr>
                                <tr>
                                    <th>CORRETAGEM VENDA</th>
                                    <td>XXXXXX</td>
                                </tr>
                                <tr>
                                    <th>VALOR REAL COMPRA TERRENO</th>
                                    <td>XXXXXX</td>
                                </tr>
                                <tr>
                                    <th>VALOR FISCAL</th>
                                    <td>XXXXXX</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie"></i>
                                    <span jhiTranslate="dashboard.piechart.home.title">PieChart</span> </div>
                                <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <div class="col-md-4 content-section implementation">
                                        <p-chart type="pie" [data]="data"></p-chart>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
        <br>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        </div>
    </div>
</div>




