<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="obras">
            <h2><span jhiTranslate="obrasApp.obras.detail.title">Obras</span> {{obras.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="obrasApp.obras.nome">Nome</span></dt>
                <dd>
                    <span>{{obras.nome}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.local">Local</span></dt>
                <dd>
                    <span>{{obras.local}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.metragem">Metragem</span></dt>
                <dd>
                    <span>{{obras.metragem}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.status">Status</span></dt>
                <dd>
                    <span>{{obras.status}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{obras.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{obras.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.obras.obra">Obra</span></dt>
                <dd>
                    <div *ngIf="obras.obraId">
                        <a [routerLink]="['/lancamento-gastos', obras.obraId, 'view']">{{obras.obraId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/obras', obras.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
