<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-obras-heading" jhiTranslate="obrasApp.obras.home.createOrEditLabel">Create or edit a Obras</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!obras.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="obras.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="obras.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.local" for="field_local">Local</label>
                    <input type="text" class="form-control" name="local" id="field_local"
                        [(ngModel)]="obras.local" required/>
                    <div [hidden]="!(editForm.controls.local?.dirty && editForm.controls.local?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.local?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.metragem" for="field_metragem">Metragem</label>
                    <input type="number" class="form-control" name="metragem" id="field_metragem"
                        [(ngModel)]="obras.metragem" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="obras.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="input-group">
                        <input id="field_dataInicio" type="text" class="form-control" name="dataInicio" ngbDatepicker  #dataInicioDp="ngbDatepicker" [(ngModel)]="obras.dataInicio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataInicioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataInicio?.dirty && editForm.controls.dataInicio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataInicio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.dataFim" for="field_dataFim">Data Fim</label>
                    <div class="input-group">
                        <input id="field_dataFim" type="text" class="form-control" name="dataFim" ngbDatepicker  #dataFimDp="ngbDatepicker" [(ngModel)]="obras.dataFim"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFimDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataFim?.dirty && editForm.controls.dataFim?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataFim?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasApp.obras.lancamentoGastos" for="field_lancamentoGastos">Lancamento Gastos</label>
                    <select class="form-control" id="field_lancamentoGastos" name="lancamentoGastos" [(ngModel)]="obras.lancamentoGastosId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lancamentoGastosOption.id" *ngFor="let lancamentoGastosOption of lancamentogastos; trackBy: trackLancamentoGastosById">{{lancamentoGastosOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
