<div>
    <h2 id="page-heading">
        <span jhiTranslate="obrasApp.periodo.home.title">Periodos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-periodo" [routerLink]="['/periodo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obrasApp.periodo.home.createLabel">
            Create new Periodo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="periodos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="obrasApp.periodo.idConta">Id Conta</span></th>
            <th><span jhiTranslate="obrasApp.periodo.data">Data</span></th>
            <th><span jhiTranslate="obrasApp.periodo.obras">Obras</span></th>
            <th><span jhiTranslate="obrasApp.periodo.periodo">Periodo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let periodo of periodos ;trackBy: trackId">
                <td><a [routerLink]="['/periodo', periodo.id, 'view' ]">{{periodo.id}}</a></td>
                <td>{{periodo.idConta}}</td>
                <td>{{periodo.data | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="periodo.obrasId">
                        <a [routerLink]="['../obras', periodo.obrasId , 'view' ]" >{{periodo.obrasId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="periodo.periodoId">
                        <a [routerLink]="['../conta', periodo.periodoId , 'view' ]" >{{periodo.periodoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/periodo', periodo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/periodo', periodo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'periodo/'+ periodo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
