<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="periodo">
            <h2><span jhiTranslate="obrasApp.periodo.detail.title">Periodo</span> {{periodo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="obrasApp.periodo.idConta">Id Conta</span></dt>
                <dd>
                    <span>{{periodo.idConta}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.periodo.data">Data</span></dt>
                <dd>
                    <span>{{periodo.data}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.periodo.obras">Obras</span></dt>
                <dd>
                    <div *ngIf="periodo.obrasId">
                        <a [routerLink]="['/obras', periodo.obrasId, 'view']">{{periodo.obrasId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="obrasApp.periodo.periodo">Periodo</span></dt>
                <dd>
                    <div *ngIf="periodo.periodoId">
                        <a [routerLink]="['/conta', periodo.periodoId, 'view']">{{periodo.periodoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/periodo', periodo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
