<div>
    <h2 id="page-heading">
        <span jhiTranslate="obrasApp.conta.home.title">Contas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conta" [routerLink]="['/conta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obrasApp.conta.home.createLabel">
            Create new Conta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="obrasApp.conta.nome">Nome</span></th>
            <th><span jhiTranslate="obrasApp.conta.valor">Valor</span></th>
            <th><span jhiTranslate="obrasApp.conta.dataVencimento">Data Vencimento</span></th>
            <th><span jhiTranslate="obrasApp.conta.pagamento">Pagamento</span></th>
            <th><span jhiTranslate="obrasApp.conta.nota">Nota</span></th>
            <th><span jhiTranslate="obrasApp.conta.tipo">Tipo</span></th>
            <th><span jhiTranslate="obrasApp.conta.parcelado">Parcelado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conta of contas ;trackBy: trackId">
                <td><a [routerLink]="['/conta', conta.id, 'view' ]">{{conta.id}}</a></td>
                <td>{{conta.nome}}</td>
                <td>{{conta.valor | currency: 'R$'}}</td>
                <td>{{conta.dataVencimento | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'obrasApp.Pago.' + conta.pagamento}}">{{conta.pagamento}}</td>
                <td jhiTranslate="{{'obrasApp.NotaFiscal.' + conta.nota}}">{{conta.nota}}</td>
                <td jhiTranslate="{{'obrasApp.TipoConta.' + conta.tipo}}">{{conta.tipo}}</td>
                <td>{{conta.parcelado}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/conta', conta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conta', conta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conta/'+ conta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
