<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conta">
            <h2><span jhiTranslate="obrasApp.conta.detail.title">Conta</span> {{conta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="obrasApp.conta.nome">Nome</span></dt>
                <dd>
                    <span>{{conta.nome}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.valor">Valor</span></dt>
                <dd>
                    <span>{{conta.valor | currency: 'R$'}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.dataVencimento">Data Vencimento</span></dt>
                <dd>
                    <span>{{conta.dataVencimento}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.pagamento">Pagamento</span></dt>
                <dd>
                    <span jhiTranslate="{{'obrasApp.Pago.' + conta.pagamento}}">{{conta.pagamento}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.nota">Nota</span></dt>
                <dd>
                    <span jhiTranslate="{{'obrasApp.NotaFiscal.' + conta.nota}}">{{conta.nota}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'obrasApp.TipoConta.' + conta.tipo}}">{{conta.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="obrasApp.conta.parcelado">Parcelado</span></dt>
                <dd>
                    <span>{{conta.parcelado}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conta', conta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
