<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-obra-heading" jhiTranslate="obrasAppEdit.obra.home.createOrEditLabel">Create or edit a Obra</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!obra.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="obra.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="obra.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.endereco" for="field_endereco">Endereco</label>
                    <input type="text" class="form-control" name="endereco" id="field_endereco"
                        [(ngModel)]="obra.endereco" required/>
                    <div [hidden]="!(editForm.controls.endereco?.dirty && editForm.controls.endereco?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endereco?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.metragem" for="field_metragem">Metragem</label>
                    <input type="number" class="form-control" name="metragem" id="field_metragem"
                        [(ngModel)]="obra.metragem" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.valorTerreno" for="field_valorTerreno">Valor Terreno</label>
                    <input type="number" class="form-control" name="valorTerreno" id="field_valorTerreno"
                        [(ngModel)]="obra.valorTerreno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.valorEscritura" for="field_valorEscritura">Valor Escritura</label>
                    <input type="number" class="form-control" name="valorEscritura" id="field_valorEscritura"
                        [(ngModel)]="obra.valorEscritura" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.porcentagemCorretagem" for="field_porcentagemCorretagem">Porcentagem Corretagem</label>
                    <input type="number" class="form-control"  min="0" max="100" onKeyUp="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}"  name="porcentagemCorretagem" id="field_porcentagemCorretagem"
                        [(ngModel)]="obra.porcentagemCorretagem" required />                        
                    <div [hidden]="!(editForm.controls.porcentagemCorretagem?.dirty && editForm.controls.porcentagemCorretagem?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.porcentagemCorretagem?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>                          
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.tipoCorretagem" for="field_tipoCorretagem">Tipo Corretagem</label>
                    <select class="form-control" name="tipoCorretagem" [(ngModel)]="obra.tipoCorretagem" id="field_tipoCorretagem" required >
                        <option value="Tipo1">{{'obrasApp.TipoCorretagem.Tipo1' | translate}}</option>
                        <option value="Tipo2">{{'obrasApp.TipoCorretagem.Tipo2' | translate}}</option>
                       <!--  <option value="Tipo3">{{'obrasApp.TipoCorretagem.Tipo3' | translate}}</option>--> 
                    </select>
                    <div [hidden]="!(editForm.controls.tipoCorretagem?.dirty && editForm.controls.tipoCorretagem?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoCorretagem?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="obra.status" id="field_status"  required>
                        <option value="ANDAMENTO">{{'obrasApp.StatusObra.ANDAMENTO' | translate}}</option>
                        <option value="FINALIZADA">{{'obrasApp.StatusObra.FINALIZADA' | translate}}</option>
                        <option value="PARADA">{{'obrasApp.StatusObra.PARADA' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="input-group">
                        <input id="field_dataInicio" type="text" class="form-control" name="dataInicio" ngbDatepicker  #dataInicioDp="ngbDatepicker" [(ngModel)]="obra.dataInicio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataInicioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataInicio?.dirty && editForm.controls.dataInicio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataInicio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.dataFim" for="field_dataFim">Data Fim</label>
                    <div class="input-group">
                        <input id="field_dataFim" type="text" class="form-control" name="dataFim" ngbDatepicker  #dataFimDp="ngbDatepicker" [(ngModel)]="obra.dataFim"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFimDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataFim?.dirty && editForm.controls.dataFim?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataFim?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <!--  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obrasAppEdit.obra.resumoGasto" for="field_resumoGasto">Resumo Gasto</label>
                    <select class="form-control" id="field_resumoGasto" name="resumoGasto" [(ngModel)]="obra.resumoGastoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resumoGastoOption.id" *ngFor="let resumoGastoOption of resumogastos; trackBy: trackResumoGastoById">{{resumoGastoOption.id}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
